.signup {
    background-color: white !important;
    &__container {
        width: 80%;
        margin: 0 auto !important;
        padding: 50px 10px 50px 10px;
        justify-content: center;
        align-content: center;
        text-align: center;
        * {
            margin-bottom: 20px;
        }
        h1,
        p {
            text-align: center;
        }
    }
}